*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.parent{
position: relative;
height: 100vh;
background-image: url(../IMG/drew-coffman-1872.jpg);
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
}

.layer{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0 , 0, 0.5);
    z-index: 1;
}

.caption{
    position: relative;
    z-index: 2;
    max-width: 600px;
}